.blog {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.heading h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.articles {
    display: flex;
    gap: 2rem;
}

.article_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    flex: 0.75;
}

.main_article {
    flex: 0.5;
}

.main_article div {
    height: 100%;
}

.grid_articles {
    display: none;
}

@media screen and (max-width : 1300px) {
    .grid_articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .articles {
        display: none;
    }

    .heading h1 {
        font-size: 48px;
        line-height: 60px;
        text-align: center;
    }
}

@media screen and (max-width : 990px) {
    .heading h1 {
        font-size: 36px;
        line-height: 48px;
    }
}

@media screen and (max-width : 700px) {
    .grid_articles {
        display: grid;
        grid-template-columns: repeat(1, 0.8fr);
        justify-content: center;
        grid-gap: 2rem;
    }
}